<div class="base-container">
  <div class="box-detail table-layout">
    <div class="table-layout-wrap">
      <div class="header-container">
        <div class="header-nav">
          <h1 class="headline">{{ 'ORDERS' | translate }}</h1>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div class="filter-group">
          <a class="filter-item" routerLink="/dashboard/orders/requests"  [ngClass]="{'order-tab-item': true,'active': orderType == 'requests'}" (click)="getOrders('requests')" *ngIf="currentUser?.role == 'drugstore_location'">
            {{ 'REQUESTS' | translate }}
          </a>

          <a class="filter-item" routerLink="/dashboard/orders/in_transit" [ngClass]="{'order-tab-item': true,'active': orderType == 'in_transit'}" (click)="getOrders('in_transit')" *ngIf="currentUser?.role == 'drugstore_location'">
            {{ 'IN_TRANSIT' | translate }}
          </a>

          <a class="filter-item" routerLink="/dashboard/orders/record" [ngClass]="{'order-tab-item': true,'active': orderType == 'record'}" (click)="getOrders('record')">
            {{ 'HISTORIES' | translate }}
          </a>
        </div>
      </div>


      <div class="row-detail"  *ngIf="orderType == 'record'">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutWrap fxLayoutGap="22px">
          <div fxFlex fxLayout="column">
            <mat-label class="text-black" translate>MONTH</mat-label>
            <mat-form-field appearance="outline" class="full-width mat-select-tot-style">
              <mat-select (selectionChange)="onChangeMonth()" [(ngModel)]="month">
                <mat-option></mat-option>
                <mat-option *ngFor="let month of months" [value]="month.value">
                  {{ month.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="column">
            <mat-label class="text-black" translate>YEAR</mat-label>
            <mat-form-field appearance="outline" class="full-width mat-select-tot-style">
              <mat-select (selectionChange)="onChangeYear()" [(ngModel)]="year">
                <mat-option></mat-option>
                <mat-option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="column">
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div class="row pagelimit-container">
          <datatable-page-limit [(limit)]="pageLimit"></datatable-page-limit>
        </div>
      </div>

    </div>

    <div animationDuration="0ms">
      <div class="clearfix table-container">
        <mat-card [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
          <mat-card-content>
            <ngx-datatable
              class="material ml-0 mr-0"
              style="width: 100%"
              [rows]="rows"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="pageLimit"
              [rowHeight]="50"
              [messages]="datatableMessages"
            >
              <ngx-datatable-column name="{{'NUMBER_OF_REQUESTS' | translate}}" [flexGrow]="1" width="130" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.number_of_requests }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'DATE' | translate}}" [flexGrow]="1" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.requested_date_time_formatted }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'PLACE_OF_DELIVERY' | translate}}" [flexGrow]="1" [sortable]="false" *ngIf="orderType != 'in_transit'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.place_of_delivery }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'CLIENT' | translate}}" [flexGrow]="1" [sortable]="false" *ngIf="orderType == 'in_transit'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <p>
                    {{row?.customer_full_name}}
                  </p>
                  <p>
                    {{ !!row?.customer_main_phone_number ? row?.customer_main_phone_number : 'N/A' }}
                  </p>
                  <p>
                    {{!!row?.place_of_delivery ? row?.place_of_delivery : 'N/A'}}
                  </p>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column
              name="{{'MEDICATION' | translate}}"
              [flexGrow]="1"
              [sortable]="true" prop="medication_names">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <p *ngFor="let item of row.order_items">
                    {{ item.medication_name }}
                  </p>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'AMOUNT' | translate}}" [flexGrow]="1" width="90" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <p *ngFor="let item of row.order_items">
                    {{ item.quantity }}
                  </p>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'SUGGESTED_PRICE' | translate}}" [flexGrow]="1" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <p *ngFor="let item of row.order_items">
                    {{ item.subtotal_formatted }}
                  </p>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [flexGrow]="1" cellClass="text-right-important actions-cell" headerClass="text-right-important" [sortable]="false">

                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-raised-button mat-sm-button color="primary"
                  *ngIf="orderType == 'requests' && currentUser?.role == 'drugstore_location'"
                  (click)="takeOrder(row?.id)">
                    {{ 'TAKE' | translate}}
                  </button>

                  <button mat-raised-button mat-sm-button color="primary"
                  *ngIf="orderType != 'requests' || currentUser?.role != 'drugstore_location'"
                  routerLink="/dashboard/orders/detail/{{row?.id}}">
                    {{ 'SEE' | translate}}
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>