@import '../../../shared/assets/styles/tot/definitions.scss';
@import '../../../shared/assets/styles/scss/_variables.scss';
@import '../../../shared/assets/styles/scss/mixins/_mixins.scss';

// container
.box-detail{
  &:before{
    content: none
  }
}
// order detail
.order-detail{
  color: $primary;
  font-size: $font-size-sm;
  p{
    margin-bottom: 3px;
  }
  margin-bottom:71px;
}
// date
.order-request-date{
  text-align: right;
}
// column name
.column-name{
  margin-right: 10px;
}
// status
.order-status{
  >*{
    vertical-align: middle;
    display: inline-block;
  }
  mat-icon{
    color: $primary-color;
    margin-right: 10px;
  }
}
// title
.headline-column{
  font-size: $default-font-size;
  color: $body-text-color;
}
// row
.order-row{
  margin-bottom: 35px;
  &:last-child{
    margin-bottom: 0;
  }
}
// headline
.order-headline{
  margin-bottom: 18px;
}

// top header
.header-container{
  margin-bottom: 42px;
  .headline{
    font-size: 40px !important;
  }
}

// total
.total-order{
  margin-top: 22px;
  text-align: right;
  &.order-detail{
    margin-bottom: 138px;
  }
  .column-name{
    margin-right: 0;
    &:not(.text-left){
      text-align: right;
      margin-right: 58px;
    }
  }
  .order-row.full-width{
    > *{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .order-row:not(full-width){
    text-align: left;
    display: inline-block;
    .column-name,
    .column-description{
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}