<div class="height-100 mb-70">
  <div class="pl-1">
    <div class="alert alert-danger" *ngIf="!!errorsMessages">
      {{ errorsMessages }}
    </div>

    <div class="header-profile mb-40" translate *ngIf="!currentUser.completed_profile">
      COMPLETE_PROFILE
    </div>

    <div class="section-1 mb-24"><span class="circle-number">1</span>{{ 'PERSONAL_INFORMATION' | translate }}</div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="50" class="pr-1 mb-24">
          <mat-label disabled translate>NAME</mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput formControlName="name" type="text" name="name" placeholder="{{ 'NAME' | translate }}" />
            <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-1 mb-24">
          <mat-label disabled translate>ROLE</mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput
              formControlName="role_in_company"
              type="role_in_company"
              name="role_in_company"
              placeholder="{{ 'ROLE' | translate }}"
            />
            <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-1 mb-24">
          <mat-label class="d-block">{{ 'TELEPHONE_1' | translate }} *</mat-label>
          <phone-number-with-country-flag
            [form]="form"
            [country]="form.get('phone_country')"
            [number]="form.get('phone_number')">
          </phone-number-with-country-flag>
        </div>

        <div fxFlex="50" class="pr-1 mb-24">
          <mat-label class="d-block">{{'TELEPHONE_2' | translate}}</mat-label>
          <phone-number-with-country-flag
            [form]="form"
            [country]="form.get('secondary_phone_country')"
            [number]="form.get('secondary_phone_number')">
          </phone-number-with-country-flag>
        </div>

        <div fxFlex="50" class="pr-1 mb-24">
          <mat-label disabled translate>EMAIL</mat-label>
          <mat-form-field class="full-width" appearance="outline">
            <input matInput formControlName="email" type="email" name="email" placeholder="{{ 'EMAIL' | translate }}" />
            <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <hr class="width-80 mb-12 mt-12" />

      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div class="section-1 mb-24" fxFlex="100">
          <span class="circle-number">2</span>{{ 'COMPANY_INFORMATION' | translate }}
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <ng-container formGroupName="company_attributes">
            <div fxFlex="50" class="pr-1">
              <mat-label disabled>{{'DRUGSTORE_NAME' | translate}}</mat-label>
              <mat-form-field class="full-width mb-24" appearance="outline">
                <input matInput formControlName="company_name" type="text"/>
                <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-label disabled>{{'DRUGSTORE_ID' | translate}}</mat-label>

              <mat-form-field class="full-width mb-24" appearance="outline">
                <input
                  matInput
                  formControlName="company_code"
                  type="text"/>
                <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-label>{{'LOCATION_NAME' | translate}} *</mat-label>
              <mat-form-field class="full-width mb-24" appearance="outline">
                <input matInput formControlName="name" type="text"/>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-label disabled>{{'LOCATION_ID' | translate}} *</mat-label>
              <mat-form-field class="full-width mb-24" appearance="outline">
                <input
                  matInput
                  formControlName="code"
                  type="text"/>
                <mat-icon class="text-grey-B000" matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </ng-container>

          <address-fields [form]="form.get('company_attributes')"></address-fields>
        </div>

        <!-- ############################## -->

        <div fxFlex="100" class="mt-1 mr-1" style="text-align: center;">
          <button mat-stroked-button color="primary" [disabled]="false" type="submit" id="submit-btn">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
