<div class="m-333">

  <div fxFlex="33">
    <mat-card>
      <mat-card-title>
        <small class="text-muted" translate>WIDGET_CUSTOMER</small>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">
          {{statistics['total_active_customers'] | number}}
          <mat-icon>supervisor_account</mat-icon>
        </h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="33">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Revenue</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="accent"
        selected="true"><mat-icon>trending_up</mat-icon>10%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">377,670</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="33">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Revenue</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="accent"
        selected="true"><mat-icon>trending_up</mat-icon>10%</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">377,670</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

</div>
