<div class="base-container">
  <div class="box-detail table-layout">
    <flash-messsage-auto-hide *ngIf="messageOptions.message" [options]="messageOptions" class="mb-1"></flash-messsage-auto-hide>
    <div class="table-layout-wrap">
      <div class="header-container">
        <div class="header-nav">
          <h1 class="headline" translate>{{ 'REWARDS' | translate }}</h1>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div class="filter-group">
          <a class="filter-item" routerLink="/dashboard/rewards/redemption"  [ngClass]="{'tab-item': true,'active': true}" translate>
            {{ 'REDEMPTION_OF_REWARDS' | translate }}
          </a>
          <a class="filter-item" routerLink="/dashboard/rewards" [ngClass]="{'tab-item': true}" translate>
            {{ 'HISTORIES' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="section-info" animationDuration="0ms">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="section-header">
            {{'ENTER_REWARD_CODE' | translate }}
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.lt-sm="column">
          <div fxFlex="50">
            <mat-form-field class="full-width form-field-default" appearance="outline">
              <input matInput formControlName="code" type="text" name="name" placeholder="{{ '1A2B3C' | translate }}" />
              <mat-icon class="mat-invalid-icon" [ngStyle]="{'color':'#CDCDCD'}" matSuffix
                        (click)="clear()">highlight_off</mat-icon>
              <mat-icon class="mat-input-icon" [ngStyle]="{'color':'green'}" matSuffix>check_circle</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="isValidating" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.lt-sm="column">
          <div>
            <div fxFlex="50" class="mt-1 mr-1" style="text-align: center;">
              <button mat-raised-button [disabled]="!form.valid" type="submit" id="submit-btn" class="green-button">
                {{ 'VALIDATE' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!isValidating" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.lt-sm="column">
          <div class="p-05">
            <button mat-raised-button type="button" (click)="cancel()">
              {{ 'CANCEL' | translate }}
            </button>
          </div>
          <div class="p-05">
            <button mat-raised-button class="green-button" type="submit" id="submit-btn">
              {{ 'APPLY' | translate }}
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="reward && isDetailsShowing">
        <div class="split"></div>
        <h2 class="section-header">
          {{ 'EXCHANGE_INFORMATION' | translate }}
        </h2>
        <div class="reward-info">
          <div fxLayout="row wrap" fxLayout.lt-sm="column" class="row-detail">
          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'MEDICATION' | translate }}</span>
            <div class="label-info">
              {{reward?.medication_name}}
            </div>
          </div>

          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'EXPIRED_DATE' | translate }}</span>
            <div class="label-info">
              {{reward?.expired_at | date: 'dd/MM/yyyy'}}
            </div>
          </div>

          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'EXCHANGE_USER' | translate }}</span>
            <div class="label-info">
              {{reward?.customer_name}}
            </div>
          </div>

          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'PLAN_NAME' | translate }}</span>
            <div class="label-info">
              {{reward?.loyalty_plan_name}}
            </div>
          </div>

          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'VALID_TO' | translate }}</span>
            <div class="label-info">
              {{reward?.expired_at | date: 'dd/MM/yyyy'}}
            </div>
          </div>

          <div fxFlex="50" class="pr-1 mb-24">
            <span class="label-field mb-12" translate>{{ 'EXCHANGE_DETAILS' | translate }}</span>
            <div class="label-info">
              <span>Unidades a obtener: </span>
              <span>{{reward.amount}}  {{reward.amount > 1 ? 'cajas' : 'caja'}}</span><br>
              <span>Saldo a aplicar: </span>
              <ng-container *ngIf="reward.exchange_details == 'points'">
                <span>{{reward.amount_of_points_used}} puntos</span>
              </ng-container>
              <ng-container *ngIf="reward.exchange_details == 'boxes'">
                <span>{{reward.amount_of_boxes_used}} cajas</span>
              </ng-container>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>